$lato: 'Lato', sans-serif
$dohyeon: 'Do Hyeon', sans-serif

$background: #2f2f2f
$colorHead: #cacaca
$colorText: #8a8a8a
$colorTextLt: #a5a5a5 
$colorTextLt2: #fafafa 
$colorTextHover: #0a0a0a
$bar-color: #fff
$ball-color: #fff
$bg-color: #EA4961

$medium: 991.98px
$small: 767.98px
$xsmall: 575.98px
$iphone: 375.98px


.portfolio-section
  background: $background
  overflow-x: hidden
  .limit
    margin: 0 auto
    max-width: 900px
    padding: 80px 20px 30px
    & > h1
      animation: fade-in-bottom 0.3s ease-out forwards      
      color: $colorHead
      font-family: $dohyeon
      font-size: 3em
      margin-bottom: 20px
      opacity: 0
      position: relative      
    & > h3
      animation: fade-in-bottom 0.3s ease-out forwards      
      animation-delay: 0.1s      
      color: $colorText
      font-family: $lato
      font-size: 1em
      font-weight: 300
      letter-spacing: 1px
      line-height: 1.8em
      opacity: 0
      position: relative
    & > .disclaimer
      animation: fade-in-bottom 0.3s ease-out forwards      
      animation-delay: 0.2s            
      color: $colorText
      font-family: $lato
      font-size: 0.8em
      font-weight: 300
      line-height: 1.4em
      opacity: 0
      position: relative
    & > .portfolio-wrapper
      align-self: center
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      margin-top: 30px
      .portfolio-single
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px
        margin-bottom: 20px
        overflow: hidden
        opacity: 0
        position: relative
        width: 49%
        &.animate-in
          animation: fade-in-bottom 0.3s ease-out forwards      
          opacity: 0
        &:hover
          .thumb-overlay-wrapper
            opacity: 1
            top: 0
        & > .proj-name-wrapper
          align-items: center
          background: $colorTextLt2
          border-top-left-radius: 5px
          border-top-right-radius: 5px
          box-shadow: 0 0 10px rgba(0,0,0,.6)
          display: flex
          height: 30px
          position: relative
          z-index: 9          
          .fancy-btns
            align-items: center
            display: flex
            height: 100%
            left: 10px
            position: absolute
            span
              border-radius: 50%
              display: block
              height: 11px
              margin-right: 5px
              width: 11px
              &:first-child
                background: #ff5f57
              &:nth-child(2)
                background-color: #ffbd2e
              &:last-child
                background-color: #28ca41
                margin-right: 0
          .project-name
            color: $colorTextHover
            font-family: $lato
            font-size: 10px
            font-weight: 600
            letter-spacing: 0.5px
            text-align: center
            text-transform: uppercase
            position: relative
            width: 100%
        .thumb
          display: block
          max-width: 100%
        .thumb-overlay-wrapper
          align-items: center          
          border-radius: 5px
          display: flex
          flex-direction: column
          height: 100%       
          left: 0          
          justify-content: center   
          opacity: 0
          padding-top: 30px
          position: absolute
          top: -100%
          transition: all 0.2s ease-in-out
          width: 100%
          z-index: 8
          .thumb-overlay-img
            display: block
            max-width: 100%
          .thumb-overlay
            background: rgba(0,0,0,0.8)
            height: 100%
            padding: 30px 10px 10px
            position: absolute
            width: 100%
            & > p 
              margin: 0 0 10px
              color: $colorTextLt
              font-family: $lato
              font-size: 0.8em
              line-height: 1.3em
              &.label
                font-weight: 300
                span
                  font-weight: 700
            .tags-wrapper
              text-left: center
              span
                background: #717070
                border-radius: 5px
                color: $colorTextLt2        
                display: inline-block
                font-family: $dohyeon
                font-size: 0.65em
                letter-spacing: 1px
                padding: 5px
                margin-right: 5px
                margin-top: 10px
                text-transform: uppercase
            .view-btn
              background-color: transparent
              border-radius: 3px
              border: 1px solid $colorHead
              color: $colorText
              cursor: pointer
              display: inline-block
              font-family: $lato
              font-size: 0.8em
              letter-spacing: 1px
              margin-top: 15px              
              padding: 8px 10px
              transition: all 0.3s ease-out              
              text-decoration: none
              &:hover
                background-color: $colorHead
                color: $colorTextHover
            .wip-wrapper
              align-items: center   
              bottom: 25px                    
              display: flex
              position: absolute
              right: 15px
              & > img
                height: 25px
                margin-right: 15px
                width: 25px
              & > span
                color: $colorTextLt2
                font-family: $lato
                font-size: 0.8em
                text-transform: uppercase


.loader-wrapper
  align-items: center
  background: $background
  display: flex
  justify-content: center
  height: 100vh
  width: 100%    
  .loader 
    position: relative
    width: 75px
    height: 100px

    .loader__bar 
      position: absolute
      bottom: 0
      width: 10px
      height: 50%
      background: #fff
      transform-origin: center bottom
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)

      &:nth-child(1) 
        left: 0px
        transform: scale(1, 0.2)
        animation: barUp1 4s infinite

      &:nth-child(2) 
        left: 15px
        transform: scale(1, 0.4)
        animation: barUp2 4s infinite

      &:nth-child(3) 
        left: 30px
        transform: scale(1, 0.6)
        animation: barUp3 4s infinite

      &:nth-child(4) 
        left: 45px
        transform: scale(1, 0.8)
        animation: barUp4 4s infinite

      &:nth-child(5) 
        left: 60px
        transform: scale(1, 1)
        animation: barUp5 4s infinite

    .loader__ball 
      position: absolute
      bottom: 10px
      left: 0
      width: 10px
      height: 10px
      background: #fff
      border-radius: 50%
      animation: ball 4s infinite

@media (max-width: $small)
  .portfolio-section
    .limit
      max-width: 700px
      & > .portfolio-wrapper
        .portfolio-single
          width: 100%
          .thumb-overlay-wrapper
            .thumb-overlay
              &>p
                font-size: 0.9em

@media (max-width: $xsmall)
  .portfolio-section
    .limit
      max-width: 515px
      & > .portfolio-wrapper
        .portfolio-single
          .thumb-overlay-wrapper
            .thumb-overlay
              &>p
                font-size: 0.75em
              .tags-wrapper
                // display: none
              .view-btn
                border: none                
                color: transparent     
                left: 0                           
                height: 100%
                position: absolute                
                text-indent: -9999px
                top: 0                
                width: 100%        
                &:hover,
                &:visited,
                &:active
                  border-color: transparent
                  background-color: transparent        
              .wip-wrapper
                & > span
                  font-size: 0.7em
                & > img
                  height: 20px
                  width: 20px

@media (max-width: $iphone)
  .portfolio-section
    .limit
      & > .portfolio-wrapper
        .portfolio-single
          .thumb-overlay-wrapper
            .tags-wrapper
              display: none
            .thumb-overlay
              .wip-wrapper
                & > span
                  font-size: 0.6em
                & > img
                  height: 15px
                  margin-right: 10px
                  width: 15px
@keyframes fade-in-bottom
  from
    bottom: -10px    
    opacity: 0
  to
    bottom: 0 
    opacity: 1


@keyframes ball 
  0% 
    transform: translate(0, 0)
  
  5% 
    transform: translate(8px, -14px)
  
  10% 
    transform: translate(15px, -10px)
  
  17% 
    transform: translate(23px, -24px)
  
  20% 
    transform: translate(30px, -20px)
  
  27% 
    transform: translate(38px, -34px)
  
  30% 
    transform: translate(45px, -30px)
  
  37% 
    transform: translate(53px, -44px)
  
  40% 
    transform: translate(60px, -40px)
  
  50% 
    transform: translate(60px, 0)
  
  57% 
    transform: translate(53px, -14px)
  
  60% 
    transform: translate(45px, -10px)
  
  67% 
    transform: translate(37px, -24px)
  
  70% 
    transform: translate(30px, -20px)
  
  77% 
    transform: translate(22px, -34px)
  
  80% 
    transform: translate(15px, -30px)
  
  87% 
    transform: translate(7px, -44px)
  
  90% 
    transform: translate(0, -40px)
  
  100% 
    transform: translate(0, 0)
  

@keyframes barUp1 
  0% 
    transform: scale(1, 0.2)
  
  40% 
    transform: scale(1, 0.2)
  
  50% 
    transform: scale(1, 1)
  
  90% 
    transform: scale(1, 1)
  
  100% 
    transform: scale(1, 0.2)
  

@keyframes barUp2 
  0% 
    transform: scale(1, 0.4)
  
  40% 
    transform: scale(1, 0.4)
  
  50% 
    transform: scale(1, 0.8)
  
  90% 
    transform: scale(1, 0.8)
  
  100% 
    transform: scale(1, 0.4)
  

@keyframes barUp3 
  0% 
    transform: scale(1, 0.6)
  
  100% 
    transform: scale(1, 0.6)
  

@keyframes barUp4 
  0% 
    transform: scale(1, 0.8)
  
  40% 
    transform: scale(1, 0.8)
  
  50% 
    transform: scale(1, 0.4)
  
  90% 
    transform: scale(1, 0.4)
  
  100% 
    transform: scale(1, 0.8)
  

@keyframes barUp5 
  0% 
    transform: scale(1, 1)
  
  40% 
    transform: scale(1, 1)
  
  50% 
    transform: scale(1, 0.2)
  
  90% 
    transform: scale(1, 0.2)
  
  100% 
    transform: scale(1, 1)
  

